{% extends "admin/base.html" %}
{% load i18n   static %}

{% block title %}{{ title }} | {% trans "rabbiq" %}{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/global.css" %}"/>
    <style type="text/css">
        body.login {
            background-color: #071431;
            background-image: url('{% static "admin/login-bg.jpg" %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 60%;
            
        }
    </style>
{% endblock %}
{% block branding %}
    <h1 id="site-name"><strong>{% trans "Rabbiq" %}</strong></h1>
{% endblock %}

{% block nav-global %}{% endblock %}